<script>

window.addEventListener('Init',function () {
    CheckInstall();
    $("idApp").innerHTML=""+SMART.Num+"."+SMART.Name;
})

window.addEventListener('Event',function(e) {
    var Data=e.detail;
    var Str=Data.Description;
    if(Data.Error)
        SetError(Str);
    else {
        SetStatus(Str);
        if(Str.substr(0,6)==="Board:")
            $("field").innerText=Str.substr(6, Str.length - 6);
    }
    StopWait();
});


function MakeTurn(){
    var coords = $("coords").value.split(",")
    var moveX = coords[0];
    var moveY = coords[1];
    var AccFrom=$("idUser").value;
    SendCall(0,"MakeTurn", {moveX: moveX, moveY: moveY}, AccFrom);
    StartWait();
}

var idWaitInterval=0, CountWait=0;

function StartWait() {
    StopWait();
    $("field").innerText="Wait";
    CountWait=0;
    idWaitInterval=setInterval(function ()
    {
    CountWait++;
    $("field").innerText+=".";
    if(CountWait>16)
    StopWait();
    },1000);
}

function StopWait()
{
    if(idWaitInterval)
        clearInterval(idWaitInterval);
    idWaitInterval=0;
}

</script>

<script>
var SaveIdArr;
if(!SaveIdArr)
    SaveIdArr=[];
SaveIdArr.push("idUser");

function SaveValues() {
    SaveToStorageByArr(SaveIdArr);
}

function LoadValues() {
    LoadFromStorageByArr(SaveIdArr,function ()
    {
        UpdateFillUser();
    });
}

function UpdateFillUser() {
    var Arr=[];
    for(var i=0;i<USER_ACCOUNT.length;i++) {
        var Item=USER_ACCOUNT[i];
        var Value={value:Item.Num, text:Item.Num+"."+Item.Name+"  "+SUM_TO_STRING(Item.Value,Item.Currency,1)};
        Arr.push(Value);
    }
    FillSelect("idUser",Arr);
}

window.addEventListener('Init',function () {
    LoadValues();
});

window.addEventListener('UpdateInfo',UpdateFillUser);

</script>


<DIV class="item">
    <DIV id="idApp" style="width: 100%;height: 40px;font-size: x-large">XO</DIV>
        User:
        <select size="1" id="idUser" style="width: 250px" class="" onchange="SaveValues()">
            <option value="0">User1</option>
        </select>

        <BR>Move: <input style="width: 100px" class="radius" id="coords" onchange="SaveValues()">
        <button class="radius" onclick="MakeTurn()" style="background-color: #E93C07;">Make turn</button>

        <BR>
        <DIV class="" style="height: 32px;font-size: medium;" id="field"></DIV>


        <BR>
        <DIV style="text-align: left;">
    </DIV>
</DIV>